body {
  background-color: #f5f5f5;
  width: 600px;
  margin: 0 auto;
  padding: 0;
}

.list {
  color: #555;
  font-size: 15px;
  padding: 0 !important;
  width: 600px;
  font-family: courier, monospace;
  border: 1px solid #dedede;
  height: 692px;
}

.list li {
  list-style: none;
  border-bottom: 1px dotted #ccc;
  text-indent: 25px;
  height: auto;
  padding: 10px;
  text-transform: capitalize;
}

.list li:hover {
  background-color: #f0f0f0;
  -webkit-transition: all 0.2s;
  -moz-transition:    all 0.2s;
  -ms-transition:     all 0.2s;
  -o-transition:      all 0.2s;
}

.lines {
  border-left: 1px solid #ffaa9f;
  border-right: 1px solid #ffaa9f;
  width: 2px;
  float: left;
  height: 100%;
  margin-left: 40px;
}

.completed {
	text-decoration: line-through;
}

#item_name {
	height: 40px;
	margin-top: -10px;
	margin-bottom: -10px;
	width: 84%;
	outline: none;
	font-size: 27px;
  font-family: courier, monospace;
  padding-left: 10px;
}

.complete-item {
	float: right;

	img {
		width: 20px;
	}
}

.delete-item {
	float: right;

	img {
		width: 20px;
	}
}

input[type="submit"] {
	display: none;
}
